body {
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(90deg, rgba(255,75,75,1) 0%,
     rgba(177,9,9,1) 50%, rgba(255,75,75,1) 100%);
    margin: 0;
    max-width: 100%;
}

/* Painel Principal */
.pokedex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 3rem;
    width: 80%;
    background: #5f9ac1;
    background: linear-gradient(180deg, rgba(95,154,193,1) 0%, rgba(207,236,255,1) 17%,
     rgba(175,223,255,1) 50%, rgba(94,154,194,1) 86%, rgba(95,154,193,1) 100%);
    border: solid 0.15rem #3f3f3f;
    border-radius: 1rem;
    padding-block: 5% 7%;
    box-shadow: 0 0 4rem #c8e9ffba;
}

/* Formulario */
form {
    margin-inline: auto;
    width: 75%;
}

.controles {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    background-color: #466c85;
    border-radius: 1rem 1rem 0 0;
    padding: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.input-nome {
    width: 50%;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 2em;
    font-weight: 300;
}

.btn {
    width: 20%;
    padding: 1rem 0rem;
    background-color: #2b3237;
    color: #fff;
    border: none;
    border-radius: 100rem;
    cursor: pointer;
    font-size: 150%;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #1c2022;
}

/* Informações Pokémon */
.informations-content {
    min-height: 25rem;
    background-color: #c1daea;
    border-radius: 0 0 1rem 1rem;
    padding-inline: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.info {
    padding-top: 1.3rem;
    text-align: left;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.tipo-pokemon {
    border-radius: 0.5rem;
    padding-inline: 1em;
}

.id-pokemon, .name-pokemon, .tipo-pokemon {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.image-pokemon {
    display: flex;
    margin: auto;
    width: 15em;
}

/* Smartphone Estilo */
@media (max-width: 768px) {
    .pokedex-content {
        width: 95%;
        padding-block: 3% 3%;
    }

    .controles {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .input-nome {
        width: 100%;
        font-size: 1.5em;
    }

    .btn-buscar,
    .btn-limpar {
        width: 80%;
        font-size: 120%;
    }

    .info {
        padding-top: 0;
        margin-left: 0.5em;
    }

    .informations-content {
        min-height: 20rem;
        padding: 1rem;
    }

    .id-pokemon,
    .name-pokemon {
        font-size: 1em;
    }

    .image-pokemon {
        display: flex;
        margin-top: 1.2em;
        margin-inline: auto;
        width: 10em;
    }
}

.mensagem-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.mensagem {
    background-color: #5aad5a;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.show-element {
    height: auto;
    overflow: visible;
}

.show-element .mensagem {
    opacity: 1;
    transform: translateY(0);
}